body {
  margin: 1;
  background-color: #e6eff5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li>a {
  font-size: 30px;
  display: block;
  color: #006298;
  padding: 20px 20px;
  text-decoration: none;
}

h1{
  text-align: center;
  padding: 20px;
  color:#006298;
}

h3{
  text-align: center;
  padding: 20px;
  color:#68a2c2;
}

#containertexto{
  text-align: justify;
   padding: 20px;
  color:#000000;
}

#logoImg {
  border-radius: 48px;
  width: 100px;
  height: 100px;
}

#divBusca {
  background-color: #2F4F4F;
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
}

#contatos {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contatos>a {
  margin-right: 20px;
}

#sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#sociais>a {
  margin-right: 20px;
}

.floatRight {
  float: right;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.colCursos{
  display: flex; 
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.colCursos > div > ul > li{
float: none;
}