body{
    background-color: #e6eff5;
}

/* Barra de navegação */

.constmNavBar {
    background-color: #e6eff5;
    border-bottom: solid 0.00001rem black;
}

.EscritaLogo {
    color: #006298;
    font-size: 1.7rem;
    margin-right: 2rem;
    font-family: 'Lato', cursive;
}

.constmLinkNavBar {
    font-size: 1.4rem;
    color: #006298;
    font-family: 'Lato', sans-serif;
}

.barraDePesquisa {
    margin-left: 3rem;
    width: 100%;
}

.btnProcurar {
    color: #006298;
    border-color: #006298;
}

.btnProcurar:hover {background-color: #006298; }

.btnNavBar{
display: flex;
justify-content: end;
font-family: 'Lato', cursive;
}

.costmBtnNavBar{
    background-color: #006298;
    border-color: #006298;
}

.costmBtnNavBar:hover {
    background-color: #e6eff5;
    color: #006298;
}

@media only screen and (max-width:993px) {
    .barraDePesquisa {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

/* Fim Barra de navegação */

/* Rodape  */